body {
    background-color: #39a9cb;
}
#container {
    display: flex;
    justify-content: center;
}
#pictures {
    width: 500px;
}
.btn {
    background-color: #ffeda3;
    font-family: 'Dancing Script', cursive;
    border: none;
    color: #232323;
    font-size: 30px;
}
@media all and (max-width: 540px) {
    #pictures {
        width: 350px;
    }
    .btn {
        font-size: 20px;
    }
}
@media all and (max-width: 500px) {
    #pictures {
        width: 270px;
    }
    .btn {
        font-size: 20px;
    }
}
@media all and (max-width: 360px) {
    #pictures {
        width: 250px;
    }
    .btn {
        font-size: 20px;
    }
}
@media all and (max-width: 280px) {
    #pictures {
        width: 200px;
    }
    .btn {
        font-size: 15px;
    }
}